/*
BASIC DISPLAY
*/
.u-block {display: block;}
.u-inline-block {display: inline-block;}
.u-valign-top {vertical-align: top}
.u-valign-center {vertical-align: center}
.u-valign-bottom {vertical-align: bottom}

/*
DIMENSIONS
*/
.u-full-x {width: 100%}
.u-full-y {width: 100%}

/*
DISPLAY FLEX
*/

.u-flex {display: flex;}

.u-flex-direction-reverse {flex-direction: row-reverse;}
.u-flex-direction-column {flex-direction: column;}
.u-flex-direction-column-reverse {flex-direction: column-reverse;}

.u-align-items-start {align-items: flex-start;}
.u-align-items-end {align-items: flex-end;}
.u-align-items-center {align-items: center;}
.u-align-items-baseline {align-items: baseline;}

.u-align-self-start {align-self: flex-start;}
.u-align-self-end {align-self: flex-end;}
.u-align-self-center {align-self: center;}
.u-align-self-baseline {align-self: baseline;}

// Justify
.u-justify-content-end {justify-content: flex-end;}
.u-justify-content-center {justify-content: center;}
.u-justify-content-between {justify-content: space-between;}
.u-justify-content-around {justify-content: space-around;}
.u-justify-content-evenly {justify-content: space-evenly;}

// POSITION
.u-relative {position: relative}

// MARGINS
$sizez: 5, 10, 15, 20, 25, 30, 50, 90;

@each $size in $sizez {
    .u-m#{$size} {margin: #{$size}px;}
    .u-p#{$size} {padding: #{$size}px;}

    .u-mt-#{$size} {margin-top: #{$size}px;}
    .u-mr-#{$size} {margin-right: #{$size}px;}
    .u-mb-#{$size} {margin-bottom: #{$size}px;}
    .u-ml-#{$size} {margin-left: #{$size}px;}

    .u-pt-#{$size} {padding-top: #{$size}px;}
    .u-pr-#{$size} {padding-right: #{$size}px;}
    .u-pb-#{$size} {padding-bottom: #{$size}px;}
    .u-pl-#{$size} {padding-left: #{$size}px;}
}

