.t-bck_plighter {background-color: $c-primary-lighter;}
.t-c_plighter {color: $c-primary-lighter;}
.t-bck_tonic {background-color: $c-tonic;}
.t-c_tonic {color: $c-tonic;}
.t-bck_white {background-color: $c-white;}
.t-c_white {color: $c-white;}
